<!DOCTYPE html>
<html>

<head>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>
    <div id="app">
        {{message}}

        <div>
            <button @click="startEffect">Start Effect</button>
            {{effect}}
            <div id="effect" :class="effect"></div>
        </div>
        <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
        <div :class="['random-class-1', 'random-class-2']">I got no class :(</div>
        <!-- 3) Let the user enter a class (create some example classes) and attach it -->
        <div>
            <input type="text" v-model="userEnteredClass">
            <div :class="userEnteredClass">Data here</div>
        </div>
        <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
        <div>
            <input type="text" v-model="userClass">
            <input type="text" v-model="isVisible">
            <div :class="[{visible: isVisible}, userClass]">some more data</div>
        </div>
        <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
        <!-- <div>
            <input type="text">
            <div></div>
        </div> -->
        <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
        <div>
            <button v-on:click="startProgress">Start Progress</button>
            <div :class="['progressBar']" :style="progressBar"></div>
        </div>
    </div>

    <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below) -->


    <script type="text/javascript" src="./src_new.js"></script>
</body>

</html>